<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.modules.sys.dao.SysLogDao">
    <insert id="save" parameterType="com.fly.modules.sys.entity.SysLogEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_log
        (
        `username`,
        `operation`,
        `method`,
        `params`,
        `time`,
        `ip`,
        `create_date`
        )
        VALUES
        (
        #{username},
        #{operation},
        #{method},
        #{params},
        #{time},
        #{ip},
        #{createDate}
        )
    </insert>

    <select id="queryList" resultType="com.fly.modules.sys.entity.SysLogEntity">
        select * from sys_log
        <where>
            <if test="key != null and key.trim() != ''">
                `username` like concat('%',#{key},'%') or `operation` like concat('%',#{key},'%')
            </if>
        </where>
        order by id desc gdfs
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from sys_log
        <where>
            <if test="key != null and key.trim() != ''">
                `username` like concat('%',#{key},'%') or `operation` like concat('%',#{key},'%')
            </if>
        </where>
    </select>

</mapper>