<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.modules.sys.dao.SysUserRoleDao">

    <select id="queryList" resultType="com.fly.modules.sys.entity.SysUserRoleEntity">
        select * from sys_user_role
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="queryRoleIdList" resultType="long">
        SELECT role_id FROM sys_user_role WHERE user_id = #{userId}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>

    <insert id="save">
        INSERT INTO sys_user_role
        (
        `user_id`,
        `role_id`
        )
        VALUES
        <foreach collection="roleIdList" item="roleId" separator=",">
            (
            #{userId},
            #{roleId}
            )
        </foreach>
    </insert>
</mapper>